CNAME in MX record should result in a failed DANE test

I have reason to believe there is a bug in our DANE validator. Let's start with this simplified example:

    @ IN MX 10 mail.example.nl.
    mail IN CNAME mxserver.example.com.
    _25._tcp.mail IN TLSA 3 1 1 ****

Quote from [RFC 2181 section 10.3](https://tools.ietf.org/html/rfc2181#section-10.3) 

>  The domain name used as the value of a NS resource record, or part of the value of a MX resource record must not be an alias.

If the MX record of a domain is a CNAME to another host, internet.nl currently **passes** the DANE test. But according to RFC2181 this situation should result in a **failed** DANE test. 

EXIM does not use DANE when configured as stated in the simplified example:
> 1hLCnA-0000a9-BB => user@example.nl R=dnslookup T=remote_smtp H=mxserver.example.com [**] X=TLS1.3:ECDHE_RSA_AES_256_GCM_SHA384:256 CV=no

When the MX host is configured as an A / AAAA record, EXIM does use DANE
> 1hLDRB-0000dg-3g => user@example.nl R=dnslookup T=remote_smtp H=mxserver.example.com [**] X=TLS1.3:ECDHE_RSA_AES_256_GCM_SHA384:256 CV=dane

Also Victor Dukhovni's [DANE SMTP Validator](https://dane.sys4.de/) does not validate when configured as stated in the simplified example.

Shumon Huque's [DANE TLS SMTP Server Checker](https://www.huque.com/bin/danecheck-smtp)   on the other hand, does validate when configured as stated in the simplified example. I think this is also a bug and will contact Shumon about this.



For background:
- Mail and thread on https://mail.sys4.de/pipermail/dane-users/2018-December/000506.html